name: Release Charts

on:
  push:
    branches:
      - feautre/chart-release-workflow

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v3

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        id: release
        with:
          version: v1.6.1
          packages_with_index: true
          config: .github/cr.yaml
          charts_dir: .
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      - name: Changes
        run: |
          echo ${{join(steps.release.outputs.*, '\n')}}
